
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;

    &_face {
        padding-top: 40px;
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
        background-size: cover;
    }

    &_causes {
        background-image: url("../media/section/causes.jpg");
        background-position: center;
        background-size: cover;
    }
}

.section__title {
    font-size: 63px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 1310px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;

        &_face {
            padding-top: 20px;
        }

        &_causes {
            background-image: url("../media/section/causes-1310.jpg");
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_causes {
            padding-bottom: 230px;
            background-image: url("../media/section/causes-480.jpg");
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 30px;
    }
}
