<section class="section section_causes">
    <div class="container">
        <div class="causes">
            <div class="causes__body">
                <div class="section__title causes__title" data-aos="fade-up">Причины возникновения диабета</div>
                <div class="causes__description">
                    <p><mark>Сахарный диабет II типа – хроническое заболевание, при котором поджелудочная железа вырабатывает недостаточное количество инсулина.</mark> Этот тип диабета возникает, главным образом, на фоне избыточной массы тела и недостаточной физической активности.</p>
                    <p>Люди часто недооценивают опасность диабета, а многие просто не догадываются о наличии у себя этого недуга. Диабет нередко приводит к самым тяжелым последствиям, вплоть до летального исхода.</p>
                </div>
            </div>
        </div>
    </div>
</section>