<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы клиентов</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Виктор Сахаров <span>62 года</span></div>
                    <div class="commits__description">Когда я узнал о том, что болен сахарным диабетом, будто земля ушла у меня из-под ног. Решил, что все – нормальная жизнь окончена, теперь я почти инвалид. Мне очень повезло с лечащим врачом, который успокоил меня и сказал, что это заболевание успешно поддается лечению. Доктор назначил мне SugaNorm. И благодаря этому средству, я смог вернуться к привычной жизни обычного здорового человека. Большое спасибо!</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Галина Пирогова <span>49 лет</span></div>
                    <div class="commits__description">Я всю жизнь была полной и любила вкусно поесть. А, как известно, лишний вес, плохие пищевые привычки и сахарный диабет всегда идут рука об руку. Много лет я безуспешно пыталась сбросить вес, и в моем случае это было не столько в эстетических целях, сколько для здоровья. И мне удалось похудеть и избавиться от диабета! Все благодаря препарату SugaNorm. Сейчас ни о лишнем весе, ни о скачках сахара не вспоминаю.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Алла Новикова <span>55 лет</span></div>
                    <div class="commits__description">Никогда не могла бы подумать о том, что заболею диабетом. Да, временами я чувствовала недомогания, слабость, но не больше. Так было, пока я не свалилась в обморок в общественном транспорте. Как выяснилось, резко повысился сахар. Меня, конечно, откачали. При выписке врач назначил мне SugaNorm. Принимала это средство согласно инструкции, постоянно следила за уровнем сахара в крови. Уже полгода прошло с момента окончания курсового приема, и все это время сахар в норме!</div>
                </div>
            </div>
        </div>
    </div>
</section>