<section class="section section_factors">
    <div class="container container_fluid">
        <div class="factors">
            <div class="section__title factors__title" data-aos="fade-up">Факторы риска:</div>
            <div class="factors__body">
                <div class="factors__item">
                    <div class="factors__info">Лишний вес</div>
                </div>
                <div class="factors__item">
                    <div class="factors__info">Курение</div>
                </div>
                <div class="factors__item">
                    <div class="factors__info">Гипертония</div>
                </div>
                <div class="factors__item">
                    <div class="factors__info">Неправильное питание</div>
                </div>
                <div class="factors__item">
                    <div class="factors__info">Сидячий образ жизни</div>
                </div>
                <div class="factors__item">
                    <div class="factors__info">Наследственная предрасположен-ность</div>
                </div>
            </div>
        </div>
    </div>
</section>