<section class="section section_key">
    <div class="container">
        <div class="key">
            <div class="section__title key__title" data-aos="fade-up">SugaNorm — клЮч к долгой и здоровой жизни</div>
            <div class="key__product">
                <img src="../media/product.png" alt="">
                <div class="key__product-info">Не имеет <span>противопоказаний</span> и побочных эффектов.</div>
            </div>
            <div class="key__list">
                <div class="key__item">Снижает уровень <span>глюкозы в крови</span></div>
                <div class="key__item">Повышает <span>выработку инсулина</span></div>
                <div class="key__item">Стабилизирует <span>артериальное давление</span></div>
                <div class="key__item">Уменьшает тягу к <span>сладкой и вредной пище</span></div>
                <div class="key__item">Нормализует обмен <span>веществ</span></div>
                <div class="key__item">Восстанавливает <span>гормональный баланс</span></div>
                <div class="key__item">Очищает организм <span>от шлаков и токсинов</span></div>
            </div>
        </div>
    </div>
</section>
