<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title" data-aos="fade-up">Что говорят <span>специалисты?</span></div>
            <div class="professional__body">
                <p><mark>Диабет – бич современности. Неправильное питание, избыток сахара в рационе, ожирение, сидячий образ жизни – факторы, нередко приводящие к развитию этого заболевания.</mark></p>
                <p>Самая большая боль медицинского сообщества – сложность диагностики диабета на ранних этапах, когда болезнь легко поддается лечению и может быть полностью побеждена. К сожалению, на поздних этапах прогнозы уже не такие радужные. Поэтому мы, врачи, призываем своих пациентов внимательнее относиться к сигналам своего организма, чтобы не пропустить это страшное заболевание.</p>
                <p>Если вы обнаружили у себя первые признаки диабета – не откладывайте лечение! Для этого существует огромное количество препаратов, поэтому обывателю несложно потеряться в таком разнообразии.</p>
                <p>Я рекомендую своим пациентам препарат SugaNorm. Он показал высокую эффективность в лечении диабета второго типа.</p>
                <p>SugaNorm стимулирует выработку инсулина и повышает восприимчивость организма к этому гормону. Улучшает работу поджелудочной железы, восстанавливая поврежденные клетки органа. Также этот препарат оказывает положительное влияние на весь организм: нормализует артериальное давление, избавляет от холестериновых бляшек, повышает иммунитет, способствует снижению веса.</p>
            </div>
            <div class="professional__footer">
                <div class="professional__name">Ольга <span>Лебедева</span></div>
                <div class="professional__job">врач-эндокринолог, <span>стаж работы 27 лет</span></div>
                <div class="professional__id"><img src="../media/professional/id.png" alt=""></div>
            </div>
            <div class="professional__media">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>
