<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title" data-aos="fade-up">Действующие <span>вещества</span> SugaNorm</div>
            <div class="sostav__list">
                <div class="sostav__item">
                    <div class="sostav__item-box">
                        <div class="sostav__media">
                            <div class="sostav__media-border">
                                <img src="../media/sostav/img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__name">Ежевика</div>
                        <div class="sostav__description">Способствует заживлению ран при диабете, помогает сохранить зрение. Регулирует обмен веществ, питает нервную систему, улучшает психологическое состояние. Дает заряд энергии и бодрости.</div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-box sostav__item-box_center">
                        <div class="sostav__media">
                            <div class="sostav__media-border">
                                <img src="../media/sostav/img-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__name">Льняное семя</div>
                        <div class="sostav__description">Обеспечивает питание нервной системы, страдающей при сахарном диабете. Нормализует уровень холестерина и жирных кислот в крови. Предохраняет от избыточной массы тела, снижает риск возникновения инфарктов и инсультов.</div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-box sostav__item-box_right">
                        <div class="sostav__media">
                            <div class="sostav__media-border">
                                <img src="../media/sostav/img-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__name">Опунция</div>
                        <div class="sostav__description">Стимулирует выделение инсулина в поджелудочной железе, помогая регенерации производящих его клеток, которые повреждаются при сахарном диабете. Обладает мощным антиоксидантным и антисептическим действием.</div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-box">
                        <div class="sostav__media">
                            <div class="sostav__media-border">
                                <img src="../media/sostav/img-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__name">Алоэ вера</div>
                        <div class="sostav__description">Содержит глюкоманнан – пищевую клетчатку, снижающую уровень сахара в крови. Также алоэ способствует насыщению крови кислородом, помогает организму сопротивляться воздействию бактерий и вирусов, снижает риск возникновения осложнений при диабете.</div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-box sostav__item-box_center">
                        <div class="sostav__media">
                            <div class="sostav__media-border">
                                <img src="../media/sostav/img-5.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__info">
                            <div class="sostav__name">Витамин В1</div>
                            <div class="sostav__description">Нормализует углеводный обмен, активирует кровообращение. Помогает предотвратить ретинопатию и нейропатию. Регулирует гормональный баланс, нормализует работу надпочечников, помогает преодолеть стресс.</div>
                        </div>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__item-box sostav__item-box_right">
                        <div class="sostav__media">
                            <div class="sostav__media-border">
                                <img src="../media/sostav/img-6.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__info">
                            <div class="sostav__name">Корица</div>
                            <div class="sostav__description">Действует аналогично вырабатываемому организмом инсулину. Понижает уровень глюкозы в крови, стимулирует иммунную систему, запускает защитную реакцию клеток. Способствует снижению веса.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
