<section class="section section_statistics">
    <div class="container">
        <div class="statistics">
            <div class="statistics__body">
                <div class="section__title statistics__title" data-aos="fade-up">Страшная <span>статистика</span></div>
                <div class="statistics__box">
                    <div class="statistics__item">
                        <div class="statistics__info">
                            <mark>1,600,000</mark>
                            смертей в 2019 году напрямую вызваны диабетом
                        </div>
                    </div>
                    <div class="statistics__item">
                        <div class="statistics__info">
                            <mark>2,200,000</mark>
                            обусловлены высоким уровнем глюкозы в крови.
                        </div>
                    </div>
                    <div class="statistics__item">
                        <div class="statistics__info">
                            Более 80% смертей от диабета произошли
                            <mark>в возрасте до 70 лет.</mark>
                        </div>
                    </div>
                </div>
                <div class="statistics__description">
                    <p>Количество заболевших сахарным диабетом растет ежегодно. Если в 1980 году в мире болело всего 108 миллионов человек, то в 2019 это число возросло до 463 миллионов.</p>
                    <p>Однако врачи убеждены, что реальное количество людей, страдающих сахарным диабетом, гораздо больше. Примерно 50% заболевших даже не догадываются о своем диагнозе. А значит, не получают необходимую терапию и находятся в зоне смертельного риска.</p>
                </div>
            </div>
        </div>
        <div class="warning">
            <div class="warning__description">
                Вы уверены, что не входите в их число?
                <mark>Прислушайтесь к себе.</mark>
            </div>
        </div>
    </div>
</section>