<section class="section section_study">
    <div class="container container_fluid">
        <div class="study">
            <div class="section__title study__title" data-aos="fade-up">Клинические <span>исследования</span></div>
            <div class="study__description">В 2019 году Институт эндокринологии провел исследование эффективности SugaNorm на группе из 1486 <span>добровольцев, страдающих от диабета второго типа. В результате были получены следующие данные:</span></div>
            <div class="study__body">
                <div class="study__item">
                    <div class="study__info">Снижение уровня <span>сахара в крови:</span></div>
                    <div class="study__count"><mark>98% </mark> <span>исследуемых</span></div>
                </div>
                <div class="study__item">
                    <div class="study__info">Нормализация <span>работы поджелудочной</span> железы:</div>
                    <div class="study__count"><mark>90% </mark> <span>исследуемых</span></div>
                </div>
                <div class="study__item">
                    <div class="study__info">Стабилизация <span>артериального давления</span> в пределах нормы:</div>
                    <div class="study__count"><mark>88% </mark> <span>исследуемых</span></div>
                </div>
                <div class="study__item">
                    <div class="study__info">Снижение массы тела:</div>
                    <div class="study__count"><mark>92% </mark> <span>исследуемых</span></div>
                </div>
                <div class="study__item">
                    <div class="study__info">Улучшение общего <span>самочувствия:</span></div>
                    <div class="study__count"><mark>96% </mark> <span>исследуемых</span></div>
                </div>
            </div>
        </div>
    </div>
</section>