<section class="section section_symptoms">
    <div class="container container_fluid">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-up">Симптомы диабета</div>
            <div class="symptoms__body">
                <div class="symptoms__item">
                    <div class="symptoms__info">Повышенный аппетит</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Жажда</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Учащенное мочеиспускание</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Расплывчатость зрения</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Сухость во рту</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Частая нехватка сил, усталость</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Долгое заживление ран</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Головные боли</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Сухость кожи, зуд слизистых</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Онемение конечностей</div>
                </div>
                <div class="symptoms__item">
                    <div class="symptoms__info">Частые грибковые инфекции</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="warning warning_symptoms">
            <div class="warning__description warning__description_symptoms">
                <mark>Слепота, инфаркты и инсульты – лишь малая часть из тех страшных последствий, к которым приводит сахарный диабет.</mark> Коварство этой болезни заключается в том, что на ранних этапах она трудно поддается диагностике. Поэтому при появлении первых симптомов необходимо как можно скорее приступить к лечению. Чем раньше вы начнете терапию, тем выше шанс полного излечения.
            </div>
        </div>
    </div>
</section>