
.sostav {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sostav__title {
    margin-bottom: 50px;
    font-size: 47px;
    text-align: center;

    & span {
        display: block;
    }
}

.sostav__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -70px;
}

.sostav__item {
    display: flex;
    flex: 0 0 33.333%;
    margin-top: 70px;
}

.sostav__item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    text-align: center;
}

.sostav__item-box_right {
    margin-left: auto;
}

.sostav__item-box_center {
    margin-right: auto;
    margin-left: auto;
}

.sostav__media {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 149px;
    height: 149px;
    margin-bottom: 20px;
    background-color: rgb(255, 75, 93);
    background-image: linear-gradient(45deg, rgba(255, 75, 93, 1) 0%, rgba(255, 205, 172, 1) 100%);
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(255, 75, 93);
}

.sostav__media-border {
    width: 135px;
    overflow: hidden;
    border-radius: 50%;
}

.sostav__name {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #d32a40;
    text-transform: uppercase;
}

.sostav__product {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -100px;
    transform: translate(-50%, -50%);

    &::before {
        position: absolute;
        bottom: -42px;
        left: 50%;
        width: 169%;
        height: 100%;
        content: '';
        background-image: url("../media/product-before.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        transform: translateX(-50%);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        width: 180%;
        height: 100%;
        content: '';
        background-image: url("../media/product-after.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        transform: translateX(-50%);
    }
}

@media (max-width: 1310px) {
    .sostav__title {
        margin-bottom: 30px;
    }

    .sostav__product {
        position: relative;
        top: auto;
        left: auto;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        transform: translate(0, 0);
    }

    .sostav__list {
        justify-content: space-between;
        margin-top: -30px;
    }

    .sostav__item {
        flex: 0 0 calc(50% - 7.5px);
        margin-top: 30px;
    }

    .sostav__item-box {
        flex-direction: column;
        width: 100%;
        text-align: center;

        & .sostav__media {
            margin-right: 0;
            margin-bottom: 20px;
            margin-left: 0;
        }
    }

    .sostav__item-box_fullRight {
        & .sostav__media {
            order: 1;
        }

        & .sostav__info {
            order: 2;
        }
    }
}

@media (max-width: 480px) {
    .sostav__item {
        flex: 0 0 100%;
    }

    .sostav__name {
        margin-bottom: 10px;
    }

    .sostav__product {
        width: 45%;

        &::before {
            bottom: -18px;
        }
    }
}
